body {
    padding: 0;
    margin: 0;
}

#chatter-box-header {
    font-family: "Impact",sans-serif;
    font-size: 35px;
    font-weight: bold;
    background-color: #696969;
    padding: 10px;
    width: 100%;
}

#chatter-box-header #chatter {
    color: yellow;
}

#chatter-box-header #box {
    color: red;
}

#content {
    padding: 10px;
}

.post {
    border-top: solid 2px #d3d3d3;
    padding-top: 10px;
    height: 200px;
}

.post .post-signature {
    margin-top:20px;
}

label {
    display: block;
}