<p id="notice"><%= notice %></p>

<p>Add a <%= link_to 'new post', new_post_path %></p>

<div id="posts">
  <%= render :partial => "post", :collection => @posts %>
</div>

<script src="http://js.pusherapp.com/1.10/pusher.min.js" type="text/javascript"></script>
<%= javascript_include_tag 'posts' %>