<!DOCTYPE html>
<html>
<head>
  <title>Chatterbox</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main-page">
  <div id="chatter-box-header"><span id="chatter">Chatter</span><span id="box">Box</span></div>
  <div id="content"><%= yield %></div>
</div>
</body>
</html>
